#box13{
    margin: 150px 0 112px;
}
#box13>div{
    width: 1400px;
    margin: 0 auto;
}
#box13>div>h2{
    font-size: 32px;
    line-height: 1.25;
    color: #1c1c1c;
    font-family: "Nanum Myeongjo",PingFang,Times,"Times New Roman",serif;
    font-weight: 400;
    margin-bottom: 30px;
}
#box13>div>p{
    font-size: 13px;
    line-height: 1.6;
    font-family: "Noto Sans KR",PingFang,Helvetica,Arial,sans-serif;
    margin-bottom: 80px;
}
.about{
    display: flex;
    justify-content: space-between;
}
.about>.we{
    width: 650px;
    margin: 0 30px 0 0;
}
.about>.pratic{
    width: 650px;
    margin: 0 30px 0 0;
}
.about img{
    width: 100%;
    margin-bottom: 30px;
}
.about p{
    font-size: 24px;
    line-height: 1.3333;
    font-family: "Nanum Myeongjo",PingFang,Times,"Times New Roman",serif;
    color: #1c1c1c;
    margin-bottom: 20px;
}
.about p:last-child{
    font-size: 14px;
    line-height: 1.6;
    font-family: "Noto Sans KR",PingFang,Helvetica,Arial,sans-serif;
}


/* box14 */
#box14{
    margin-bottom: 112px;
}
#box14>div{
    width: 1400px;
    margin: 0 auto;
}
#box14>div>img{
    width: 100%;
    margin-bottom: 30px;
}
#box14 p{
    font-size: 24px;
    line-height: 1.3333;
    font-family: "Nanum Myeongjo",PingFang,Times,"Times New Roman",serif;
    color: #1c1c1c;
    margin-bottom: 20px;
}
#box14 p:last-child{
    font-size: 14px;
    line-height: 1.6;
    font-family: "Noto Sans KR",PingFang,Helvetica,Arial,sans-serif;
}