a{
    text-decoration: none;
}
header{
    padding: 12px 0;
    width: 100%;
    position: fixed;
    left: 0; top: 0;
    z-index: 100;
    background-color: #fcf9ee;
    font-family: "Noto Sans KR",PingFang,Helvetica,Arial,sans-serif;
}
header>div{
    width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>div>nav{
    position: relative;
    /* background-color: pink; */
}
header>div>nav>ul{
    display: flex;
}
header>div>nav>ul>li{
    padding: 10px;
    margin-right: 40px;
}
header>div>nav>ul>li>a{
    font-size: 12px;
}
header>div>nav>ul>li:first-child>ul{
    position: absolute;
    left: -10px; top: 51px;
    background-color: #fcf9ee;
    width: 150px;
    /* display: none; */
}
header>div>nav>ul>li:first-child>ul>li{
    padding: 10px;
    text-align: justify;
}
header>div>nav>ul>li:first-child>ul>li>a{
    font-size: 12px;
    line-height: 34px;
    color: #707070;
}

header>div>h1{
    width: 420px;
    position: relative;
}
header>div>h1>a{
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #1c1c1c;
}
header>div>h1>a>span{
    position: absolute;
    left: 25px; top: 16px;
    font-size: 10px;
}

.etc{
    width: 100px;
    display: flex;
    position: relative;
}
.etc>li{
    padding: 10px;
}
.etc>li>a{
    color: #1c1c1c;
    font-size: 20px;
}
.etc>li:last-child{
    /* background-color: red; */

}
.etc>li:last-child>a>p{
    position: absolute;
    top: 0;
    right: 18px;
    font-size: 18px;
    border: 1px solid #fff;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    display: wrap;
    text-align: center;
    color: #fff;
}