#box08>div{
    width: 1400px;
    margin: 0 auto;
}
#box08>div>dl{
    border-top: 1px solid #e2e1d7;
}
#box08>div>dl>dt{
    font-size: 24px;
    line-height: 90px;
}
#box08>div>dl>dd{
    font-size: 12px;
    color: #1c1c1c;
    font-weight: 400;
    line-height: 1.8;
    padding-bottom: 30px;
    border-bottom: 1px solid #e2e1d7;
    font-family: "Noto Sans KR",PingFang,Helvetica,Arial,sans-serif;
}
#box08>div>dl>dd>span{
    font-weight: 700;
}
.detail{
    padding: 42px 0;
}
.detail>p{
    font-size: 24px;
    margin-bottom: 44px;
}
.detailetc{
    display: flex;
    padding: 40px 0 0;
}
.detailetc>figure{
    width: 33.3333%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e1d7;
}
.detailetc>figure>img{
    max-width: 100%;
    width: 139px;
    height: 184px;
}
.detailetc>figure>figcaption{
    width: 60%;
    margin-left: 24px;
}
.detailetc>figure>figcaption>dl{
    width: 90%;
    font-family: "Noto Sans KR",PingFang,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #1c1c1c;
    line-height: 1.6;
}
.detailetc>figure>figcaption>dl>dt{
    margin-bottom: 32px;
}
.detailetc>figure>figcaption>dl>dd{
    margin-bottom: 32px;
}
